.bodyWrap {
  background-color: #dfffff;
  max-width: 1080px;
  margin: 0 auto;
  padding: 10px;
  min-height: 100%;

  .headingsWrap {
    font-size: 24px;
    margin-left: 35px;

    .cardHeading {
      color: #654783;

      .icon {
        margin: 10px 7px 0 0;
      }
    }
  }
  .cardsWrap {
    display: flex;
    flex-flow: row wrap;
  }
}

@media screen and (max-width: 576px) {
  .bodyWrap {
    background-color: inherit;

    .headingsWrap {
      display: none;
    }
  }
}
